// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
@import "active_admin/mixins";
@import "active_admin/base";

$skinLogo: #000 no-repeat 0 0;

@import "active_skin";
@import "fullcalendar";

.date_picker input {
    width: calc(100% - 80%) !important;
}
.datepicker input {
    width: calc(100% - 80%) !important;
}

// Overriding any non-variable SASS must be done after the fact.
// For example, to change the default status-tag color:
//
//   .status_tag { background: #6090DB; }

.side1, .side2 {
	width: 25%;
}
.fc-body {
	overflow: hiddden !important;
}
